## import

In [75]:
import numpy as np
import pandas as pd

In [76]:
erp = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\openclassrooms\\Projet 5\\erp.csv',sep=';')
web = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\openclassrooms\\Projet 5\\web.csv', sep =';')
liaison = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\openclassrooms\\Projet 5\\liaison.csv',sep=';')

## erp

In [77]:
print('ERP')
print(erp.nunique())

ERP
product_id        825
onsale_web          2
price             381
stock_quantity    128
stock_status        2
dtype: int64

In [78]:
erp.head()

   product_id  onsale_web price  stock_quantity stock_status
0        3847           1  24,2               0   outofstock
1        3849           1  34,3               0   outofstock
2        3850           1  20,8               0   outofstock
3        4032           1  14,1               0   outofstock
4        4039           1    46               0   outofstock

In [79]:
erp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      825 non-null    int64
 1   onsale_web      825 non-null    int64
 2   price           825 non-null    object
 3   stock_quantity  825 non-null    int64
 4   stock_status    825 non-null    object
dtypes: int64(3), object(2)
memory usage: 32.4+ KB

In [80]:
erp["price"] = erp["price"].str.replace(",",".").astype(float)

In [81]:
erp["product_id"].isnull().sum()

0

## liaison

In [82]:
print('Liaison')
liaison.nunique()

Liaison

product_id    825
id_web        734
dtype: int64

In [83]:
liaison.head()

   product_id id_web
0        3847  15298
1        3849  15296
2        3850  15300
3        4032  19814
4        4039  19815

In [84]:
liaison = liaison.rename(columns={"id_web":"sku"})

In [85]:
liaison.shape

(825, 2)

In [86]:
print(liaison["product_id"].isnull().sum())
print(liaison["sku"].isnull().sum())

0
91

## web

In [87]:
print('Web')
web.nunique()

Web

sku                       714
virtual                     1
downloadable                1
rating_count                1
average_rating              1
total_sales                41
tax_status                  1
tax_class                   0
post_author                 2
post_date                 716
post_date_gmt             716
post_content                0
post_title                713
post_excerpt              679
post_status                 1
comment_status              1
ping_status                 1
post_password               0
post_name                 716
post_modified             589
post_modified_gmt         589
post_content_filtered       0
post_parent                 1
guid                     1430
menu_order                  1
post_type                   2
post_mime_type              1
comment_count               1
dtype: int64

In [88]:
web.head()

,sku,virtual,downloadable,rating_count,average_rating,total_sales,tax_status,tax_class,post_author,post_date,...,post_name,post_modified,post_modified_gmt,post_content_filtered,post_parent,guid,menu_order,post_type,post_mime_type,comment_count
0,bon-cadeau-25-euros,0,0,0,0.0,10.0,taxable,NaN,1.0,2018-06-01 13:53:46,...,bon-cadeau-de-25-euros,2018-06-01 14:13:57,2018-06-01 12:13:57,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
1,15298,0,0,0,0.0,6.0,taxable,NaN,2.0,2018-02-08 12:58:52,...,pierre-jean-villa-saint-joseph-preface-2018,2019-12-30 09:30:29,2019-12-30 08:30:29,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
2,15296,0,0,0,0.0,0.0,taxable,NaN,2.0,2018-02-08 13:49:41,...,pierre-jean-villa-saint-joseph-tilde-2017,2019-12-21 09:00:17,2019-12-21 08:00:17,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
3,15300,0,0,0,0.0,0.0,taxable,NaN,2.0,2018-02-08 14:08:36,...,pierre-jean-villa-croze-hermitage-accroche-coe...,2020-06-26 18:15:03,2020-06-26 16:15:03,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
4,19814,0,0,0,0.0,3.0,taxable,NaN,2.0,2018-02-09 14:01:05,...,pierre-jean-villa-igp-gamine-2018,2020-01-04 16:36:01,2020-01-04 15:36:01,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0

In [89]:
web.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1513 entries, 0 to 1512
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sku                    1428 non-null   object
 1   virtual                1513 non-null   int64
 2   downloadable           1513 non-null   int64
 3   rating_count           1513 non-null   int64
 4   average_rating         1430 non-null   float64
 5   total_sales            1430 non-null   float64
 6   tax_status             716 non-null    object
 7   tax_class              0 non-null      float64
 8   post_author            1430 non-null   float64
 9   post_date              1430 non-null   object
 10  post_date_gmt          1430 non-null   object
 11  post_content           0 non-null      float64
 12  post_title             1430 non-null   object
 13  post_excerpt           716 non-null    object
 14  post_status            1430 non-null   object
 15  comment_status         1430 non-null   object
 16  ping_status            1430 non-null   object
 17  post_password          0 non-null      float64
 18  post_name              1430 non-null   object
 19  post_modified          1430 non-null   object
 20  post_modified_gmt      1430 non-null   object
 21  post_content_filtered  0 non-null      float64
 22  post_parent            1430 non-null   float64
 23  guid                   1430 non-null   object
 24  menu_order             1430 non-null   float64
 25  post_type              1430 non-null   object
 26  post_mime_type         714 non-null    object
 27  comment_count          1430 non-null   float64
dtypes: float64(10), int64(3), object(15)
memory usage: 331.1+ KB

In [90]:
web.value_counts()

Series([], dtype: int64)

In [91]:
web["sku"].isnull().sum()

85

## jointures

In [92]:
#Test de jointure entre Erp et Liaison
Test_1 = pd.merge(erp, liaison, how="outer", on="product_id", indicator=True)
Test_1.shape

(825, 7)

In [93]:
#Test de jointure entre Erp, Liaison et Web
Test_2 = pd.merge(erp, liaison, how="outer", on="product_id")
Test_2 = pd.merge(Test_2, web, how="outer", on="sku", indicator=True)
Test_2.shape

(9183, 34)

In [94]:
#Crée un dataset à partir des données dans la table Web qui n'ont pas de clé primaire
Web_id_null = web[web['sku'].isnull()]
Web_id_null

,sku,virtual,downloadable,rating_count,average_rating,total_sales,tax_status,tax_class,post_author,post_date,...,post_name,post_modified,post_modified_gmt,post_content_filtered,post_parent,guid,menu_order,post_type,post_mime_type,comment_count
178,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
793,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
794,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
795,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
#Crée des tables temporaires pour Web et Liaison
webt = web
liaisont = liaison
#Drop les rows contenant des NaN pour la colonne sku dans les tables temporaires
webt = webt.dropna(subset=["sku"])
liaisont = liaisont.dropna(subset=["sku"])
#Affiche les lignes qui n'ont pas de correspondance entre Erp, Liaison et Web
Test_2.loc[Test_2["_merge"]=="left_only"]

,product_id,onsale_web,price,stock_quantity,stock_status,sku,virtual,downloadable,rating_count,average_rating,...,post_modified,post_modified_gmt,post_content_filtered,post_parent,guid,menu_order,post_type,post_mime_type,comment_count,_merge
8105,4289,0,22.8,0,outofstock,13771,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8188,4568,0,21.5,0,outofstock,15065,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8193,4584,0,32.3,0,outofstock,14785,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8400,4741,0,12.4,0,outofstock,12601,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8467,4864,0,8.3,0,outofstock,15154,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8472,4869,0,17.2,0,outofstock,14360,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8527,4921,0,13.8,0,outofstock,15608,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8528,4922,0,21.5,0,outofstock,15586,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8613,5018,0,15.4,0,outofstock,15272,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8616,5021,0,17.1,0,outofstock,15630,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8711,5505,0,10.1,0,outofstock,14648,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8744,5559,0,27.9,3,instock,14715,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8755,5570,0,22.5,0,outofstock,14730,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8884,5800,0,32.3,0,outofstock,14689,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8971,5953,0,47.5,0,outofstock,14379,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8972,5954,0,18.8,0,outofstock,15609,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8973,5955,0,27.3,0,outofstock,14377,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8976,5957,0,39.0,0,outofstock,13577,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9021,6100,0,12.9,0,outofstock,15529,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9180,7329,0,26.5,14,instock,14680-1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [96]:
#Drop les doublons dans la table temporaire avant la jointure
attachment = webt.loc[webt["post_type"] == "attachment"]
webt = webt.drop(webt[webt.post_type == "attachment"].index)

#Associe les tables Erp et Liaisont en créant la table All
All = pd.merge(erp, Liaisont, on= "product_id")

#Jointure de test
Test_3 = pd.merge(erp, liaisont, on= "product_id", indicator=True)

#Joint la table All à la table Webt
All = pd.merge(All, webt, on="sku")

#Jointure de test
Test_4 =pd.merge(All, webt, on="sku", indicator=True)

In [99]:
webt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 798
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sku                    714 non-null    object
 1   virtual                714 non-null    int64
 2   downloadable           714 non-null    int64
 3   rating_count           714 non-null    int64
 4   average_rating         714 non-null    float64
 5   total_sales            714 non-null    float64
 6   tax_status             714 non-null    object
 7   tax_class              0 non-null      float64
 8   post_author            714 non-null    float64
 9   post_date              714 non-null    object
 10  post_date_gmt          714 non-null    object
 11  post_content           0 non-null      float64
 12  post_title             714 non-null    object
 13  post_excerpt           714 non-null    object
 14  post_status            714 non-null    object
 15  comment_status         714 non-null    object
 16  ping_status            714 non-null    object
 17  post_password          0 non-null      float64
 18  post_name              714 non-null    object
 19  post_modified          714 non-null    object
 20  post_modified_gmt      714 non-null    object
 21  post_content_filtered  0 non-null      float64
 22  post_parent            714 non-null    float64
 23  guid                   714 non-null    object
 24  menu_order             714 non-null    float64
 25  post_type              714 non-null    object
 26  post_mime_type         0 non-null      object
 27  comment_count          714 non-null    float64
dtypes: float64(10), int64(3), object(15)
memory usage: 161.8+ KB

In [98]:
#Affiche les résultats des test de jointures
print("Premier merge")
print(Test_3["_merge"].value_counts())
print("Second merge")
print(Test_4["_merge"].value_counts())

Premier merge
both          734
left_only       0
right_only      0
Name: _merge, dtype: int64
Second merge
both          714
left_only       0
right_only      0
Name: _merge, dtype: int64

In [101]:
#Test de jointure entre Erp et Liaison
Test_1 = pd.merge(erp, liaison, how="outer", on="product_id", indicator=True)
print("Jointure entre Erp et Liaison")
print(Test_1["_merge"].value_counts())
print()

Jointure entre Erp et Liaison
both          825
left_only       0
right_only      0
Name: _merge, dtype: int64