## IMPORT

In [1]:
import numpy as np
import pandas as pd

In [3]:
erp = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\openclassrooms\\Projet 5\\erp.csv',sep=';')
web = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\openclassrooms\\Projet 5\\web.csv', sep =';')
liaison = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\openclassrooms\\Projet 5\\liaison.csv',sep=';')

recommencer en nettoyant le fichier web 
garder les jointures sur liaison et erp
puis une fois propre faire l'autre liaison
pour nettoyer web suivre les étapes au dessus
beaucoup de oublons, deux types de produti attachement et prodcut avec les mêmes date et heure

## Manipulation CSV Erp

In [4]:
erp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      825 non-null    int64
 1   onsale_web      825 non-null    int64
 2   price           825 non-null    object
 3   stock_quantity  825 non-null    int64
 4   stock_status    825 non-null    object
dtypes: int64(3), object(2)
memory usage: 32.4+ KB

## Erreurs de Types

In [5]:
erp['price'] = pd.to_numeric(erp['price'], errors='coerce')

In [6]:
erp['product_id'] = erp['product_id'].astype(str)

In [ ]:
erp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      825 non-null    object
 1   onsale_web      825 non-null    int64
 2   price           215 non-null    float64
 3   stock_quantity  825 non-null    int64
 4   stock_status    825 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 32.4+ KB

In [7]:
erp['onsale_web'].value_counts()

1    717
0    108
Name: onsale_web, dtype: int64

chercher les prix anormaux

## Manipulation CSV Web

In [ ]:
web.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1513 entries, 0 to 1512
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sku                    1428 non-null   object
 1   virtual                1513 non-null   int64
 2   downloadable           1513 non-null   int64
 3   rating_count           1513 non-null   int64
 4   average_rating         1430 non-null   float64
 5   total_sales            1430 non-null   float64
 6   tax_status             716 non-null    object
 7   tax_class              0 non-null      float64
 8   post_author            1430 non-null   float64
 9   post_date              1430 non-null   object
 10  post_date_gmt          1430 non-null   object
 11  post_content           0 non-null      float64
 12  post_title             1430 non-null   object
 13  post_excerpt           716 non-null    object
 14  post_status            1430 non-null   object
 15  comment_status         1430 non-null   object
 16  ping_status            1430 non-null   object
 17  post_password          0 non-null      float64
 18  post_name              1430 non-null   object
 19  post_modified          1430 non-null   object
 20  post_modified_gmt      1430 non-null   object
 21  post_content_filtered  0 non-null      float64
 22  post_parent            1430 non-null   float64
 23  guid                   1430 non-null   object
 24  menu_order             1430 non-null   float64
 25  post_type              1430 non-null   object
 26  post_mime_type         714 non-null    object
 27  comment_count          1430 non-null   float64
dtypes: float64(10), int64(3), object(15)
memory usage: 331.1+ KB

1 Erreurs de types

In [8]:
web['post_date'] = pd.to_datetime(web['post_date'])
web['post_modified'] = pd.to_datetime(web['post_modified'])

2 Valeurs manquantes

In [9]:
nb_na = web.isnull().sum()
# pour afficher uniquement les variables qui ont des valeurs manquantes
#nb_na[nb_na>0]
nb_na

sku                        85
virtual                     0
downloadable                0
rating_count                0
average_rating             83
total_sales                83
tax_status                797
tax_class                1513
post_author                83
post_date                  83
post_date_gmt              83
post_content             1513
post_title                 83
post_excerpt              797
post_status                83
comment_status             83
ping_status                83
post_password            1513
post_name                  83
post_modified              83
post_modified_gmt          83
post_content_filtered    1513
post_parent                83
guid                       83
menu_order                 83
post_type                  83
post_mime_type            799
comment_count              83
dtype: int64

In [ ]:
# helpful modules
import fuzzywuzzy
from fuzzywuzzy import process
import charset_normalizer


# get the top 10 closest matches to "south korea"
matches = fuzzywuzzy.process.extract("south korea", countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

# take a look at them
matches

# function to replace rows in the provided column of the provided dataframe
# that match the provided string above the provided ratio with the provided string
def replace_matches_in_column(df, column, string_to_match, min_ratio = 47):
    # get a list of unique strings
    strings = df[column].unique()
    
    # get the top 10 closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings, 
                                         limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match
    
    # let us know the function's done
    print("All done!")

In [12]:
web.drop(columns=['virtual','downloadable','rating_count','average_rating','tax_class','post_date_gmt','post_content','post_excerpt','post_status','comment_status','ping_status','post_password','post_modified_gmt','tax_status','post_content_filtered','post_parent','guid','menu_order','comment_count','post_mime_type','post_author','post_name'],inplace=True)

In [13]:
nb_na = web.isnull().sum()
nb_na

sku              85
total_sales      83
post_date        83
post_title       83
post_modified    83
post_type        83
dtype: int64

In [14]:
web.head()

,sku,total_sales,post_date,post_title,post_modified,post_type
0,bon-cadeau-25-euros,10.0,2018-06-01 13:53:46,Bon cadeau de 25€,2018-06-01 14:13:57,product
1,15298,6.0,2018-02-08 12:58:52,Pierre Jean Villa Saint-Joseph Préface 2018,2019-12-30 09:30:29,product
2,15296,0.0,2018-02-08 13:49:41,Pierre Jean Villa Saint-Joseph Rouge Tildé 2017,2019-12-21 09:00:17,product
3,15300,0.0,2018-02-08 14:08:36,Pierre Jean Villa Crozes-Hermitage Accroche Co...,2020-06-26 18:15:03,product
4,19814,3.0,2018-02-09 14:01:05,Pierre Jean Villa IGP Collines Rhodaniennes Ga...,2020-01-04 16:36:01,product

In [ ]:
web.loc[web['sku'].isnull(),:]

     sku  total_sales post_date post_title post_modified post_type
178  NaN          NaN       NaT        NaN           NaT       NaN
179  NaN          NaN       NaT        NaN           NaT       NaN
227  NaN          NaN       NaT        NaN           NaT       NaN
230  NaN          NaN       NaT        NaN           NaT       NaN
231  NaN          NaN       NaT        NaN           NaT       NaN
..   ...          ...       ...        ...           ...       ...
792  NaN          NaN       NaT        NaN           NaT       NaN
793  NaN          NaN       NaT        NaN           NaT       NaN
794  NaN          NaN       NaT        NaN           NaT       NaN
795  NaN          NaN       NaT        NaN           NaT       NaN
796  NaN          NaN       NaT        NaN           NaT       NaN

[85 rows x 6 columns]

3 Doublons

garder que les product

In [15]:
web.duplicated('post_title')

0       False
1       False
2       False
3       False
4       False
        ...
1508     True
1509     True
1510     True
1511     True
1512     True
Length: 1513, dtype: bool

4 détection d'outliers

## merge csv

In [ ]:
data = pd.merge(erp,liaison,on='product_id',how='left')
data

In [ ]:
data_produit = pd.merge(data,web,left_on='id_web',right_on='sku',how='left')
data_produit.head()